<h1>Removed Items</h1>
<p>
  <ul>
  <% @removed_items.each do |item| %>
    <li>
      <%= link_to item.name, item %>&emsp;
      <%= link_to "Restore Item", removed_path(item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>)
    </li>
  <% end %>
</ul>
</p>
