<h1>Active Items</h1>
<p>
  <ul>
  <% @items.each do |item| %>
    <li>
      <%= item.name %>&emsp;
      <%= link_to "Edit Item", edit_item_path(item) %>&emsp;
      <%= link_to "Delete Item", item_path(item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>)
    </li>
  <% end %>
  </ul>
</p>
